<!DOCTYPE html>
<html lang="en">
  <%-
    include('../partials/_head', {
      title: 'Ofriend - Virtual Training',
      head: null
    })
  %>
  <body> 
    <%- include('../partials/_loader') %>
    <%- include('../partials/_header') %>
    <main>

      <section class="relative grid gap-5 md:grid-cols-3 lg:grid-cols-4 bg-gradient-to-b from-aqua-100/80 py-5 px-5 lg:px-10">
        <div class="col-span-2 lg:col-span-3">
          <div>
            <%- include('../partials/training/_training-top') %>
          </div>

          <div>
            <%- include('../partials/training/_training-details') %>
          </div>
          
        </div>

        <div class="hidden md:block sticky top-24 rounded bg-white shadow h-fit xl:w-72">
          <%- include('../partials/training/_training-nav') %>
        </div>
      </section>

      <%- include('../partials/_footer') %>
      <% if (!cookieSession) { %>
        <%- include('../partials/_cookie-notice') %>
      <% } %>
    </main>
    <script src="/scripts/pages/index.js"></script>
    <%- include("../partials/_aos-init", { nonce }) %>
  </body>
</html>