<div>
  <div>
    <h2 class="text-center text-3xl text-midnight font-semibold">Featured Courses.</h2>
    <div class="w-72 mt-1 mx-auto grid grid-cols-2 gap-1">
      <div class="h-1 rounded-sm bg-aqua"></div>
      <div class="h-1 rounded-sm bg-midnight"></div>
    </div>
  </div>

  <div class="mt-6 grid gap-5 md:grid-cols-3 lg:gap-3 xl:gap-5">

    <% courses.forEach((course, index) => { %>
      <div data-aos="fade-up" data-aos-delay="<%= 50 + (index * 100) %>"
        class="group rounded-xl overflow-hidden grid cursor-context-menu bg-white shadow border transition-all duration-300">
        <div class="grid gap-4 p-3">
          <div class="w-full h-60 rounded-lg overflow-clip">
            <img src="<%= course.image %>" alt="<%= course.title %>" class="w-full h-full object-cover">
          </div>
      
          <div>
            <p class="font-semibold text-lg"><%= course.title %></p>
            <p class="text-slate-500"><%= course.description %></p>
          </div>
        </div>
      
        <div class="p-3 pt-5 mt-auto">
          <div class="flex items-center justify-between gap-5">
            <p class="text-slate-500">By: <span class="font-semibold text-midnight"><%= course.tutor %></span></p>
      
            <div class="flex items-center gap-3">
              <span class="pi pi-shopping-cart text-slate-500"></span>
              <div class="relative font-semibold">
                <p class="absolute text-green-500 -translate-y-5">&#8358;<%= course.discountedPrice %></p>
                <p class="text-red-500 line-through">&#8358;<%= course.price %>K</p>
              </div>
            </div>
          </div>
        </div>

        <% if (index === 1) { %>
          <div class="bg-aqua w-full h-1 mt-auto"></div>
        <% } else { %>
          <div class="bg-midnight w-full h-1 mt-auto"></div>
        <% } %>
      </div>
    <% }) %>
  </div>
</div>